---
const { away, home, label, subLabel } = Astro.props;
---

<article class="flex flex-wrap justify-between items-center py-2">
  <div class="basis-4/12 text-center">
    {away}
  </div>
  <div class="basis-4/12 text-center">
    {subLabel ? <small class="block">{subLabel}</small> : ""}

    <span class="font-bold">{label}</span>
  </div>
  <div class="basis-4/12 text-center">
    {home}
  </div>
</article>
